*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-merchandising{
    margin-top: 90px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}

.tarjeta{
    padding: 30px;
    border: 1px solid black;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    /* transition: 0.3s; */
    /* transform: scale(1); */
}

.tarjeta:hover{
    box-shadow: 0 0 10px #666;
    transform: scale(1.05);
}

.precio{
    font-size: 20px;
    
}
.nombre{
    color: rgb(58, 57, 57);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.descripcion{
    margin-top: 10px;
    color: rgb(85, 85, 85);
}

#boton{
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

#boton:hover{
    cursor: pointer;
    background-color: rgb(66, 65, 65);
    color: white;
}