*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;  
    list-style: none;
}

header{
    background-color: rgb(1, 95, 1);
    height: 60px;
    width: 100%;
    padding: 20px;
}

.menu li a{
    color: white;
}

.menu {
    display: flex;
    justify-content: space-between;

}

.menu div{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

#banner{
    background-image: url(/img/wallpaper\ soccer\ field.jpg);
    background-size: cover;
    
    height: 700px;
}

#titulo{
    text-align: center;
    font-weight: bolder;
    font-size: 80px;
    padding-top: 50px;
}

